extends layout

block content
  h1= title
  p Welcome to #{title}
  p
  p <img src="https://1.cms.s81c.com/sites/default/files/2019-07/IBM%20Cloud%20Pak%20for%20Integration%20diagram-v2.jpg" alt="Cloud Pak" width="500" height="600">
